<script type='text/javascript'>
  const preview_image = event => {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('outputimage');
      output.src = reader.result;

    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    {{#with user}}
    <a href="/users/{{this._id}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{this._id}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
    {{/with}}
  </span>
</nav>

<div class="container">

  <div class="card">
    <h3>Edit {{ dog.name }}'s Info </h3>
    <form action="/ownersignup-dog" method="post" enctype="multipart/form-data" id="form-container">

      <img src="" alt="" id="outputimage" />
      <div class="uploadpic" style="background-image: url({{dog.imgPath}});">
        <input type="file" name="photo" required="required"  value="{{dog.imgPath}}" onchange="preview_image(event)"/>
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="name" required="required" value="{{dog.name}}"/>
        <label for="name">Name</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="age" required="required" value="{{dog.age}}"/>
        <label for="age">Age</label>
        <div class="bar"></div>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="gender" value="male" checked />
          <span>Male</span>
        </label>
        <label>
          <input type="radio" name="gender" value="female" />
          <span>Female</span>
        </label>
      </div>


      <div class="input-container">
        <select name="breed" class="cardbreed">
          <option value="" disabled selected hidden id="breed">{{dog.breed}}</option>
          {{#each breeds}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
          <option value="Other">Other / Mixed / Mutt</option>
        </select>
        <div class="bar"></div>



      </div>

      <div class="input-container">
        <input type="#{type}" id="#{label}" name="description" required="required" value="{{dog.description}}"/>
        <label for="description">Description</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input type="#{type}" id="timeslot" name="timeslots" required="required" value="{{dog.timeslots}}"/>
        <label for="timeslots">Time Slot</label>
        <div class="bar"></div>
      </div>

      <div class="errormsg">
        {{#if errorMessage}}
        {{ errorMessage }}
        {{/if}}
      </div>

      <div class="button-container">
        <button class="bt-signup" id="signupdone"><span>Save</span></button>
      </div>
    </form>

  </div>