<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    {{#with currentUser}}
    <a href="/users/{{this._id}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{this._id}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
    {{/with}}
  </span>
</nav>

<div class="overlay">
  <div class="default">

    <h3 style="font-size: 2rem; text-align: center; margin: 0 0 -150px 0; color: white">Thanks {{user.name}}.<br>
      Request sent!</h3>
    <lottie-player src="/images/done.json" id="done" background="transparent" speed="1"
      style="width: 400px; height: 400px;" autoplay></lottie-player>
  </div>
</div>

<div class="profileview">
  <div class="container">
    <div class="card">
      <div class="profhead">
        <a href="/users/{{ dog.owner }}"> <img src=" {{ user.imgPath}}" class="small-profilepic floating" alt="" /></a>

        <img src="{{dog.imgPath}}" class="profilepic main">

        <h5>{{ dog.name}}</h5>
        <p class='address'> <img src="/images/pin.svg" alt=""> {{ user.address.street}}
          {{ user.address.houseNumber}},
          {{ user.address.zip}} {{ user.address.city}}</p>

        <div class="dogdetails">
          <p class="square gender"></p>
          <p class="square"> <span>{{ dog.breed }}</span></p>
          <p class="square"> <span>{{ dog.age }}<br> year(s). </span> </p>
        </div>

        <div class="profile-content">
          <p class='description'>{{ dog.description}}</p>
        </div>

        {{!-- {{#if isWalker}} --}}

        {{#each dog.timeslots}}
        <p>I'm available for a walk on {{ this }}! 🦴</p>
        {{/each}}

        <form action="/dogs/{{dog._id}}" method="POST">
          <button type="submit" class="bt-edit">Book a walk</button>
        </form>
        {{!-- {{/if}} --}}

      </div>
    </div>
  </div>

</div>


<script type='text/javascript'>

  document.addEventListener("DOMContentLoaded", () => {
    if ('{{ dog.gender }}' == 'male') {
      document.querySelector('.square.gender').innerHTML = "<span><img src='/images/male.svg'></span>"
    } else {
      document.querySelector('.square.gender').innerHTML = "<span><img src='/images/female.svg'></span>"
    }
  });

  document.querySelector('.bt-edit').addEventListener('click', () => {
    if ($('form')[0].checkValidity() == true) {
      document.querySelector('.overlay').style.display = "block"

      setTimeout(function () {
        window.location('dogs/cards');
      }, 2000);
    }

  });

</script>