<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>
  <a href="/users/{{user._id}}">
    <p>👨</p>
  </a>
</nav>

<br>
<div class = 'default'>
    <img src="{{dog.imgPath}}" class = "dog-profile-pic">
    <h3>Name: {{ dog.name }}</h3>
    <p>Breed: {{ dog.breed }}</p>
    <p>Age: {{ dog.age }}</p>
    <p>Gender: {{ dog.gender }}</p>
    <p>About: {{ dog.description }}</p>
    <a href="/users/{{ dog.owner }}">My owner's Info</a>
    {{#each dog.timeslots}}
    <p>I'm available for a walk: {{ this }}</p>
    {{/each}}

    <form action="/dogs/{{dog._id}}" method="POST">
      <button type = "submit">Book a walk</button>
    </form>

</div>