<script type='text/javascript'>
  const preview_image = event => {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('outputimage');
      output.src = reader.result;

    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>


<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>
  <a href="/users/{{this._id}}">
    <p>👨</p>
  </a>
</nav>

<div class="container">

  <form action="/users/{{this._id}}/edit" method="post" enctype="multipart/form-data" id="form-container">

    <div class="card">
      <h4>Your profile</h4>


      <img src="" alt="" id="outputimage" />
      <div class="uploadpic" style="background-image: url({{this.imgPath}});">
        <input type="file" name="photo" onchange="preview_image(event)" />
      </div>

      <div class="input-container">
        <input name="name" required="required" value="{{this.name}}" />
        <label for="name">Name</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="street" required="required" value="{{this.address.street}}" />
        <label for="street">Street</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="houseNumber" required="required" value="{{this.address.houseNumber}}" />
        <label for="houseNumber">Number</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="zip" required="required" value="{{this.address.zip}}" />
        <label for="zip">PLZ</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="city" required="required" value="{{this.address.city}}" />
        <label for="city">City</label>
        <div class="bar"></div>
      </div>

      <div class="errormsg">
        {{#if errorMessage}}
        {{ errorMessage }}
        {{/if}}
      </div>

      <h4>Your dogs</h4>

      {{#each this.dog}}
      <div class="uploadedpic-dog" style="background-image: url({{imgPath}});">
        {{/each}}


      </div>
      <button class="bt-signup" type="submit"><span>Save</span></button>
  </form>

</div>