<script type='text/javascript'>
  const preview_image = event => {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('outputimage');
      output.src = reader.result;

    }
    reader.readAsDataURL(event.target.files[0]);
  }
</script>


<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    {{#with user}}
    <a href="/users/{{this._id}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{this._id}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
    {{/with}}
  </span>
</nav>

<div class="container">

  <form action="/users/{{user._id}}/edit" method="post" enctype="multipart/form-data" id="form-container">

    <div class="card">
      <h4>Your profile</h4>

      <img src="" alt="" id="outputimage" />
      <div class="uploadpic" style="background-image: url({{user.imgPath}});">

        <input type="file" name="photo" onchange="preview_image(event)" />
      </div>

      <div class="input-container">
        <input name="name" required="required" value="{{user.name}}" />
        <label for="name">Name</label>
        <div class="bar"></div>
      </div>

      {{#if isOwner}}
      <div class="input-container">
        <input name="street" required="required" value="{{user.address.street}}" />
        <label for="street">Street</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="houseNumber" required="required" value="{{user.address.houseNumber}}" />
        <label for="houseNumber">Number</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="zip" required="required" value="{{user.address.zip}}" />
        <label for="zip">PLZ</label>
        <div class="bar"></div>
      </div>

      <div class="input-container">
        <input name="city" required="required" value="{{user.address.city}}" />
        <label for="city">City</label>
        <div class="bar"></div>
      </div>

       <div class="input-container">
        <input name="phoneNumber" required="required" value="{{user.phoneNumber}}" />
        <label for="phoneNumber">Phone number</label>
        <div class="bar"></div>
      </div>

      {{/if}}

      <div class="input-container">
        <input name="description" value="{{user.description}}" />
        <label for="description">About</label>
        <div class="bar"></div>
      </div>

      <div class="errormsg">
        {{#if errorMessage}}
        {{ errorMessage }}
        {{/if}}
      </div>
      {{#if isOwner}}
      <h4>Your dogs</h4>
      {{#each user.dog}}
      <a href="/dogs/{{_id}}/edit">
        <img src="{{imgPath}}" class="small-profilepic" alt="">
        <a href="/dogs/delete/{{_id}}"> <img src="/images/trash2.png" class="trash" alt=""></a>
      </a>
      {{/each}}
      {{/if}}

    </div>
    <div class="button-container">
      <button class="bt-signup" type="submit"><span>Save</span></button>
    </div>
  </form>

</div>

