<nav>
  <a href="/">
    <p class="home">wlkr.</p>
  </a>
  <a href="/users/{{user._id}}">
    <p>👨</p>
  </a>
</nav>


<div class = 'default'>
  <h3>{{ user.username }}</h3>
  <p>{{ user.type }}</p>
  <img src="{{ user.imgPath}}" class = "dog-profile-pic">
  <div>
    <p>Address Info</p>
    <p>Street: {{ user.address.street}}</p>
    <p>City: {{ user.address.city}}</p>
    <p>ZIP: {{ user.address.zip}}</p>
    <p>House No: {{ user.address.houseNumber}}</p>
    <p>Phone No: {{ user.phoneNumber}}</p>
    <p>About: {{ user.description}}</p>
  </div>

  <a href="/users/{{ user._id }}/edit">Edit your profile</a>
</div>


  {{!-- address: {
    street: String,
    city: String,
    zip: Number,
    houseNumber: Number
  },
  phoneNumber: String,
  type: {
    type: String,
    enum: ['dog-walker', 'dog-owner']
  },
  dog: [{
    type: Schema.Types.ObjectId,
    ref: 'Dog'
  }],
  dogsToWalk: [String],
  description: {
    type: String,
  }, --}}
