<nav>
  <a href="/">
    <p class="home">wlkr.</p>
  </a>
  <a href="/users/{{this._id}}/edit">
    <p>👨</p>
  </a>
</nav>

<div class="default">

 <h2>Profile</h2>

 <img src="{{this.imgPath}}" alt="" class="profilepic">

  Hey {{this.name}}!


{{!-- <a href="/dogs/delete/{{this._id}}">❌</a> --}}
 

  {{!-- <form action="/users/{{this._id}}/edit" method="post" enctype="multipart/form-data">

    <label>Pic</label>
    <input type="file" name="photo">

    <label for="">Name:</label>
    <input type="text" name="name" value="{{name}}">

    <label for="">District:</label>
    <input type="text" name="district" value="{{district}}">

    <label for="">City: </label>
    <input type="text" name="city" value="{{city}}">

    <input type="submit" value="SAVE">
  </form> --}}


</div>