<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    {{!-- {{#with currentUser}} --}}
    <a href="/users/{{_id}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{_id}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
    {{!-- {{/with}} --}}
  </span>
</nav>


<div class="profileview">
  <div class="container">
    <div class="card">

      <h4>sent requests</h4>
      {{#each walkArr}}

      <div class="bubbletwo">
        <p class="doggy"> <img src="{{ this.dogPic }}" class="small-profilepic doggy"></p>
        <p class="doggy"> Walk <b>{{ this.dogName }}</b> <br>
          on {{ this.timeslot }}</p>

        <p class="doggy"> Request sent to <a href="/users/{{this.ownerId}}"><br>{{ this.ownerName}}.</a>
        <br></p>
       
      </div>
      <p class="statuswalker">Status: {{ this.status }}</p>
       <span class="phone"><img src="/images/phone.svg">  {{this.ownerNr }} </span>



      {{/each}}


    </div>
  </div>
</div>



{{!-- <script>


  document.addEventListener('DOMContentLoaded', () => {

if (document.querySelector('.statuswalker').innerText == 'Status: confirmed') {
        alert('asass')
        document.querySelector('.statuswalker').innerHTML = "aaaaa"}

  }, false);


</script> --}}