<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    <a href="/users/{{logIn}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{logIn}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
  </span>
</nav>




<div class="profileview">
  <div class="container">
    <div class="card">

      <h4>received requests</h4>
      {{#each walkArr}}

        <span class="status"> Status: <b>{{ this.status }} </b></span>

        <div class="bubble">
          
          <p> Hey! I'm <a href="/users/{{this.walkerId}}">{{ this.walkerName}}</a>. I would love to walk
            {{this.dogName}}
            on {{ this.timeslot }}.</p>
          <div class="confirmdeny">
            <button class="btn-confirm" id="{{this.walkerId}}">
              Confirm
            </button>
            <button class="btn-deny" id="{{this.walkerId}}">
              Deny
            </button>
          </div>
        </div>
        <a href="/users/{{this.walkerId}}"><img src="{{ this.walkerPic }}" class="small-profilepic"></a>
      {{!-- <td><img src="{{ this.dogPic }}" style="width: 100px;"></td> --}}

      {{/each}}









      <script>
        const confirmBtn = document.getElementsByClassName('btn-confirm');
        const denyBtn = document.getElementsByClassName('btn-deny');

        const confirm = [...confirmBtn]
        const deny = [...denyBtn]

        confirm.forEach(btn => {
          btn.onclick = () => {
            axios.post(`/users/requests/${event.target.id}/confirm`).then(response => {
            }).then(window.location.reload(true))
          }
        });

        deny.forEach(btn => {
          btn.onclick = () => {
            axios.post(`/users/requests/${event.target.id}/denied`).then(response => {
            }).then(window.location.reload(true))
          }
        })

      </script>