<nav>
  <a href="/home">
    <p class="home">wlkr.</p>
  </a>

  <span>
    {{#with user}}
    <a href="/users/{{this._id}}/requests">
      <p class='icon'> <img src="/images/requests.svg" style="width: 30px; margin: 0 -10px 0 0" alt=""> </p>
    </a>
    {{!-- <a href="/logout">Logout</a> --}}
    <a href="/users/{{this._id}}">
      <p class='icon'> <img src="/images/user.svg" style="width: 35px" alt=""> </p>
    </a>
    {{/with}}
  </span>
</nav>

<p> this is requests for owners</p>

<table>
  <tr>
    <th>Dog</th>
    <th>Timeslot</th>
    <th>Walker</th>
    <th>Status</th>
    <th>Confirmation</th>
  </tr>
  {{#each walkArr}}
  <tr>
    <td><img src="{{ this.dogPic }}" style="width: 100px;"></td>
    <td>{{ this.timeslot }}</td>
    <td>
      <img src="{{ this.walkerPic }}" style="width: 100px;">
      <a href="/users/{{this.walkerId}}">{{ this.walkerName}}</a>
    </td>
    <td>{{ this.status }}</td>
    <td>
      {{!-- <form action="{{ this.link }}" method="POST">
        <input type="text" name="walkerId" value="{{this.walkerId}}"/>
        <button type='submit'>Confirm</button>
      </form> --}}
      <button class ="btn-confirm" id="{{this.walkerId}}">Confirm</button>
      <button class ="btn-deny" id="{{this.walkerId}}">Deny</button>
    </td>
  </tr>
  {{/each}}
</table>


<script>
  const confirmBtn = document.getElementsByClassName('btn-confirm');
  const denyBtn = document.getElementsByClassName('btn-deny');

  const confirm = [...confirmBtn]
  const deny = [...denyBtn]

  confirm.forEach(btn => {
    btn.onclick = () => {
      axios.post(`/users/requests/${event.target.id}/confirm`).then(response => {
      }).then(window.location.reload(true))
    }
  });

  deny.forEach(btn => {
    btn.onclick = () => {
      axios.post(`/users/requests/${event.target.id}/denied`).then(response => {
      }).then(window.location.reload(true))
    }
  })

</script>
